<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Aya.bigslice">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.Aya.bigslice.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_launcher"
        android:supportsRtl="false"
        android:theme="@style/Theme.BigSlice">
        <activity
            android:name="com.Aya.bigslice.main.homescreens.ProductActivity"
            android:exported="true"
            android:parentActivityName="com.Aya.bigslice.main.MainActivity"
            />
        <activity
            android:name="com.Aya.bigslice.main.profilescreens.UpdateLocationActivity"
            android:exported="true"
            android:parentActivityName="com.Aya.bigslice.main.MainActivity" />
        <activity
            android:name="com.Aya.bigslice.main.profilescreens.EditAccountActivity"
            android:exported="true"
            android:parentActivityName="com.Aya.bigslice.main.MainActivity" />
        <activity
            android:name="com.Aya.bigslice.main.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.Aya.bigslice.auth.SignupActivity"
            android:exported="true"
            android:parentActivityName="com.Aya.bigslice.auth.LoginActivity" />
        <activity
            android:name="com.Aya.bigslice.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>